<% if !flash[:notice].blank? %>
  <div class="notice"> 
    <%= flash[:notice] %>
  </div>
<% end %>
<br/>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="burrito new">
  <h2>New Burrito</h2>

  <%= form_for(:burrito, :url => {:action => 'create'}) do |f| %>

    
    <%= render 'form' %>

    
  <% end %>
</div>
<%= link_to 'Back', burritos_path %>
