<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @burrito.location %>
</p>

<p>
  <strong>Burrito name:</strong>
  <%= @burrito.burrito_name %>
</p>

<p>
  <strong>Taqueria name:</strong>
  <%= @burrito.taqueria_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @burrito.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @burrito.phone %>
</p>

<p>
  <strong>Price:</strong>
  <%= @burrito.price %>
</p>

<p>
  <strong>Meat type:</strong>
  <%= @burrito.meat_type %>
</p>

<p>
  <strong>Meat rating:</strong>
  <%= @burrito.meat_rating %>
</p>

<p>
  <strong>Size rating:</strong>
  <%= @burrito.size_rating %>
</p>

<p>
  <strong>Tortilla rating:</strong>
  <%= @burrito.tortilla_rating %>
</p>

<p>
  <strong>Salsa rating:</strong>
  <%= @burrito.salsa_rating %>
</p>

<p>
  <strong>Other rating:</strong>
  <%= @burrito.other_rating %>
</p>

<p>
  <strong>Flavor rating:</strong>
  <%= @burrito.flavor_rating %>
</p>

<p>
  <strong>Service rating:</strong>
  <%= @burrito.service_rating %>
</p>

<p>
  <strong>Selection rating:</strong>
  <%= @burrito.selection_rating %>
</p>

<p>
  <strong>Environment rating:</strong>
  <%= @burrito.environment_rating %>
</p>

<p>
  <strong>Post eating rating:</strong>
  <%= @burrito.post_eating_rating %>
</p>

<p>
  <strong>Chips:</strong>
  <%= @burrito.chips %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @burrito.overall_rating %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @burrito.notes %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @burrito.keywords %>
</p>

<%= link_to 'Edit', edit_burrito_path(@burrito) %> |
<%= link_to 'Back', burritos_path %>
